[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python src/main.py tmp/test/test.py"
test = "pytest -q test"

[packages]
watchdog = "*"

[dev-packages]
pytest = "*"
ptvsd = "*"
nose = "*"
isort = "*"
pyflakes = "*"
flake8 = "*"
pylint = "*"
jedi = "*"
rope = "*"

[requires]
python_version = "3.9"
